@model IEnumerable<SchoolDb.Models.Teacher>
@{
    ViewBag.Title = "list";
}

<h2>Listing all Teachers</h2>

<p>There are @Model.Count() teachers in the system.</p>
<form action="/Teacher/List" method="GET">
    <input type="text" name="SearchKey" autocomplete="off" />
    <input type="submit" value="Search" />
</form>

@foreach (var Teacher in Model)
{
    <h3><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFname @Teacher.TeacherLname</a></h3>
}