@model IEnumerable<SchoolDbs.Models.Student>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>There are @Model.Count() students in the system</p>

<form action="/Student/List" method="GET">
    <input type="text" name="SearchKey" autocomplete="off" />
    <input class="searchButton" type="submit" value="Search" />
</form>

@foreach (var Student in Model)
{
    <h3><a href="/Student/Show/@Student.StudentId">@Student.StudentFname @Student.StudentLname</a></h3>
}